.gmnoprint{
	display: none;
}


/*--office images--*/

#contact-info .margin{
	margin-top: 25px;	
}
#contact-photo-01{
	background-image: url("../images/contact/contact-image-01.jpg");
}
#contact-photo-02{
	background-image: url("../images/contact/contact-image-02.jpg");
}
#contact-photo-03{
	background-image: url("../images/contact/contact-image-03.jpg");
}
#contact-photo-04{
	background-image: url("../images/contact/contact-image-04.jpg");
}
#contact-photo-05{
	background-image: url("../images/contact/contact-image-05.jpg");
}
#contact-photo-06{
	background-image: url("../images/contact/contact-image-06.jpg");
}
#contact-photo-07{
	background-image: url("../images/contact/contact-image-07.jpg");
}



#contact-photo-grid{
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}
.contact-photo-grid-half{
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}
#contact-photo-01, #contact-photo-02, #contact-photo-03, #contact-photo-04{
	background-size: cover;
	background-position: center;
}
#contact-photo-01, #contact-photo-04{
	width: 100%;
	height: 66vw;
}
#contact-photo-02, #contact-photo-03{
	width: 50%;
	height: 50vw;
}
@media screen and (max-width: 720px){
	#contact-photo-01, #contact-photo-04{
	height: 100vw;
	}
}
@media screen and (min-width: 2200px){
	#contact-photo-01, #contact-photo-04{
	height: 33.33vw;
	}
	#contact-photo-02, #contact-photo-03{
	height: 33.33vw;
	}
}

/*--places to visit--*/

@media screen and (min-width: 1280px){
	.two-up .copy-half-parent, .two-up-reverse .copy-half-parent{
	    width: 75%;
	}
}
@media screen and (min-width: 2200px){
	.two-up .copy-half-parent, .two-up-reverse .copy-half-parent {
	    width: 66.66%;
	}
    .copy-half-parent{
    	height: 33vw;
    }
}


/*--contact form--*/

@media screen and (max-width: 600px){
	#contact .two-up{
	    -webkit-flex-direction: column-reverse;
	    -moz-flex-direction: column-reverse;
	    -ms-flex-direction: column-reverse;
	    flex-direction: column-reverse;
	    -webkit-flex-wrap: wrap;
	}
	#contact .two-up-reverse {
	    -webkit-flex-direction: column;
	    -moz-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	}
	#contact .two-up div,#contact  .two-up-reverse div {
	    height: 100vw;
	}
	#contact .two-up .bg-image,#contact  .two-up-reverse .bg-image{
	    height: 100vw;
	}
}
@media screen and (max-width: 600px){
	#contact .two-up div,#contact  .two-up-reverse div {
	    height: 133vw;
	}
}
@media screen and (max-width: 480px){
	#contact .two-up div,#contact  .two-up-reverse div {
	    height: 166vw;
	}
}


#contact-links{
	margin-top: 20px;
}
#contact-links li{
	margin-bottom: 10px;
}


