.slide-video-bg {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	pointer-events: none;
	z-index: -100;
}
@media screen and (max-device-width: 720px){
	.slide-video-bg{
		display: none;
	}
	.home-slide{
		opacity: .5;
		background-size: cover;
		background-position: center;
	}
	#home-slide-calendario{
		background-image: url("../images/home-bg-01.png");
	}
	#home-slide-elrey{
		background-image: url("../images/home-bg-02.png");
	}
	#home-slide-valentines{
		background-image: url("../images/home-bg-03.png");
	}
	#slide-about{
		background-image: url("../images/about/about-bg-mobile.png");
	}
	#slide-team {
    	background-image: url("../images/team/team-bg-mobile.png");
	}
	#slide-careers {
    	background-image: url("../images/careers/careers-bg-mobile.png");
	}
	#slide-contact{
		background-image: url("../images/contact/contact-bg-mobile.png");
	}
	#slide-calendario{
		background-image: url("../images/calendario/calendario-bg-mobile.png");
	}
	#slide-elrey{
		background-image: url("../images/elrey/elrey-bg-mobile.png");
	}
	#slide-valentines{
		background-image: url("../images/valentines/valentines-bg-mobile.png");
	}
	#slide-arcade{
		background-image: url("../images/arcade/arcade-bg-mobile.png");
	}
	#slide-montejo{
		background-image: url("../images/montejo/montejo-bg-mobile.png");
	}
	#slide-phocrastinate{
		background-image: url("../images/phocrastinate/phocrastinate-bg-mobile.png");
	}
}
.slider{
	height: 100vh;
	z-index: -2000;
}
@media and (max-width: 1280px){
	.slider{
		min-height: 60vw;
		position: relative;
	}
}
.slides{
	height: inherit;
}
.slide{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    opacity: 0;
    overflow: hidden;
    z-index: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
    -webkit-animation: slideAnimation 18s linear infinite 0s;
    -moz-animation: slideAnimation 18s linear infinite 0s;
    -o-animation: slideAnimation 18s linear infinite 0s;
    -ms-animation: slideAnimation 18s linear infinite 0s;
    animation: slideAnimation 18s linear infinite 0s;
    -webkit-animation: slideAnimation 18s ease-out infinite 0s;
    -moz-animation: slideAnimation 18s ease-out infinite 0s;
    -o-animation: slideAnimation 18s ease-out infinite 0s;
    -ms-animation: slideAnimation 18s ease-out infinite 0s;
    animation: slideAnimation 18s ease-out infinite 0s;
}
.no-animation{
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	animation: none;
	opacity: 1;
}
.slide-content-container{
	position: fixed;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}
.slide-content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}
.slide-type {
	width: 832px;
	height: 248px;
	opacity: 0;
	background-image: url(../images/visceral-animation.png);
	background-size: cover;
	background-repeat: no-repeat;
    -webkit-animation: titleAnimation 9s steps(31, end) 0s infinite;
    -moz-animation: titleAnimation 9s steps(31, end) 0s infinite;
    -o-animation: titleAnimation 9s steps(31, end) 0s infinite;
    -ms-animation: titleAnimation 9s steps(31, end) 0s infinite;
    animation: titleAnimation 9s steps(31, end) 0s infinite;
}
.slide-client{
	opacity: 0;
	-webkit-animation: clientAnimation 9s infinite;
    -moz-animation: clientAnimation 9s infinite;
    -o-animation: clientAnimation 9s infinite;
    -ms-animation: clientAnimation 9s infinite;
    animation: clientAnimation 9s infinite;
}
.slide-button{
	opacity: 0;
	margin-top: 75px;
	-webkit-animation: slide-buttonAnimation 9s infinite;
    -moz-animation: slide-buttonAnimation 9s infinite;
    -o-animation: slide-buttonAnimation 9s infinite;
    -ms-animation: slide-buttonAnimation 9s infinite;
    animation: slide-buttonAnimation 9s infinite;
}
@media screen and (max-width: 720px){
	.slide-buttom{
		margin-top: 0px;
	}
}
@media screen and (max-device-width: 600px){
	.slide-client{
		font-size: 1em;
		margin: 0px;
	}
	.slide-button{
		margin-top: 50px;
	}
	.button{
		background: none;
	}
}

/*---------------------------------

scroll down arrows

-----------------------------------*/

#scroll-down-hold div{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.icon-arrow-down{
	-webkit-animation-name: flashPause;
	-moz-animation-name: flashPause;
	-ms-animation-name: flashPause;
	animation-name: flashPause;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	animation-duration: 2s;
}
#icon-arrow-down-01{
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	animation-delay: 0s;
}
#icon-arrow-down-02{
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	-ms-animation-delay: .1s;
	animation-delay: .1s;
}
#icon-arrow-down-03{
	-webkit-animation-delay: .2s;
	-moz-animation-delay: .2s;
	-ms-animation-delay: .2s;
	animation-delay: .2s;
}
.icon-arrow-down:before {
	content: "\e600";
	color: #fff;
	font-size: .7em;
}


/*---------------------------------

home slides timing

-----------------------------------*/

#home-slide-elrey, #home-client-elrey{
	-webkit-animation-delay: 6s;
	-moz-animation-delay: 6s;
	-ms-animation-delay: 6s;
	animation-delay: 6s;
}
#home-slide-valentines, #home-client-valentines{
	-webkit-animation-delay: 12s;
	-moz-animation-delay: 12s;
	-ms-animation-delay: 12s;
	animation-delay: 12s;
}




/*---------------------------------

home slide buttons

-----------------------------------*/

#slide-button-calendario{
	border-color: #ff0000;
	background-image: linear-gradient(to bottom, rgba(255, 205, 51, 0) 50%, #ff0000 50%);
}
@media screen and (max-device-width: 720px){
	#slide-button-calendario{
		background-color: #ff0000;
	}
}


#slide-button-elrey{
	border-color: #f7ab17;
	background-image: linear-gradient(to bottom, rgba(255, 205, 51, 0) 50%, #f7ab17 50%);
	-webkit-animation-delay: 6s;
	-moz-animation-delay: 6s;
	-ms-animation-delay: 6s;
	animation-delay: 6s;
}
@media screen and (max-device-width: 720px){
	#slide-button-elrey{
		background-color: #f7ab17;
	}
}



#slide-button-valentines{
	border-color: #7ecdc0;
	background-image: linear-gradient(to bottom, rgba(255, 205, 51, 0) 50%, #7ecdc0 50%);
	-webkit-animation-delay: 12s;
	-moz-animation-delay: 12s;
	-ms-animation-delay: 12s;
	animation-delay: 12s;
}
@media screen and (max-device-width: 720px){
	#slide-button-valentines{
		background-color: #7ecdc0;
	}
}




/*---------------------------------

type animations

-----------------------------------*/

/*-----home slider-----*/

#home-slide-type-calendario{
	width: 700px;
	height: 112px;
	background-image: url(../images/calendario/calendario-animation.png);
    -webkit-animation: titleAnimation 9s steps(34, end) 0s infinite;
    -moz-animation: titleAnimation 9s steps(34, end) 0s infinite;
    -ms-animation: titleAnimation 9s steps(34, end) 0s infinite;
    animation: titleAnimation 9s steps(34, end) 0s infinite;
}
@media screen and (max-width: 1000px) { 
	#home-slide-type-calendario {
    width: 475px;
    height: 76px;
	}
}
@media screen and (max-width: 600px) { 
	#home-slide-type-calendario {
    width: 300px;
    height: 48px;
	}
}
@media screen and (max-width: 330px) { 
	#home-slide-type-calendario {
    width: 250px;
    height: 40px;
	}
}
@media screen and (max-device-width: 600px) { 
	#home-slide-type-calendario {
    width: 300px;
    height: 48px;
    background-image: url(../images/calendario/calendario-mobile.png);
	}
}
@media screen and (max-device-width: 330px) { 
	#home-slide-type-calendario {
    width: 250px;
    height: 40px;
    background-image: url(../images/calendario/calendario-mobile.png);
	}
}

#home-slide-type-elrey{
	width: 892px;
	height: 248px;
	background-image: url(../images/elrey/elrey-animation.png);
    -webkit-animation: titleAnimation 9s steps(47, end) 0s infinite;
    -moz-animation: titleAnimation 9s steps(47, end) 0s infinite;
    -ms-animation: titleAnimation 9s steps(47, end) 0s infinite;
    animation: titleAnimation 9s steps(47, end) 0s infinite;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
@media screen and (max-width: 1000px) { 
	#home-slide-type-elrey {
    width: 463px;
    height: 128.726px;
	}
}
@media screen and (max-width: 600px) { 
	#home-slide-type-elrey {
    width: 295px;
    height: 82.018px;
	}
}
@media screen and (max-width: 376px) { 
	#home-slide-type-elrey {
    width: 298px;
    height: 82.852px;
	}
}
@media screen and (max-width: 330px) { 
	#home-slide-type-elrey {
    width: 241px;
    height: 67.004px;
	}
}
@media screen and (max-device-width: 600px) { 
	#home-slide-type-elrey {
    width: 295px;
    height: 82.018px;
    background-image: url(../images/elrey/elrey-mobile.png);
	}
}
@media screen and (max-device-width: 376px) { 
	#home-slide-type-elrey {
    width: 298px;
    height: 82.852px;
    background-image: url(../images/elrey/elrey-mobile.png);
	}
}
@media screen and (max-device-width: 330px) { 
	#home-slide-type-elrey {
    width: 241px;
    height: 67.004px;
    background-image: url(../images/elrey/elrey-mobile.png);
	}
}

#home-slide-type-valentines{
	width: 855px;
	height: 248px;
	background-image: url(../images/valentines-animation-home.png);
    -webkit-animation: titleAnimation 9s steps(43, end) 0s infinite;
    -moz-animation: titleAnimation 9s steps(43, end) 0s infinite;
    -ms-animation: titleAnimation 9s steps(43, end) 0s infinite;
    animation: titleAnimation 9s steps(43, end) 0s infinite;
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
@media screen and (max-width: 1000px) { 
	#home-slide-type-valentines {
    width: 472px;
    height: 136.908px;
	}
}
@media screen and (max-width: 600px) { 
	#home-slide-type-valentines {
    width: 303px;
    height: 87.888px;
	}
}
@media screen and (max-width: 376px) { 
	#home-slide-type-valentines {
    width: 300px;
    height: 87.018px;
	}
}
@media screen and (max-width: 330px) { 
	#home-slide-type-valentines {
    width: 241px;
    height: 69.904px;
	}
}
@media screen and (max-device-width: 600px) { 
	#home-slide-type-valentines {
    width: 303px;
    height: 87.888px;
    background-image: url(../images/valentines-home-mobile.png);
	}
}
@media screen and (max-device-width: 376px) { 
	#home-slide-type-valentines {
    width: 300px;
    height: 87.018px;
    background-image: url(../images/valentines-home-mobile.png);
	}
}
@media screen and (max-device-width: 330px) { 
	#home-slide-type-valentines {
    width: 241px;
    height: 69.904px;
    background-image: url(../images/valentines-home-mobile.png);
	}
}


/*-----nav pages-----*/

#slide-type-about{
	width: 699px;
	height: 386px;
	background-image: url(../images/about/about-animation.png);
    -webkit-animation: titleOnceAnimation 2s steps(48, end) 0s 1;
    -moz-animation: titleOnceAnimation 2s steps(48, end) 0s 1;
    -ms-animation: titleOnceAnimation 2s steps(48, end) 0s 1;
    animation: titleOnceAnimation 2s steps(48, end) 0s 1;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
}
@media screen and (max-width: 1000px) { 
	#slide-type-about {
    width: 593px;
    height: 327.465px;
	}
}
@media screen and (max-width: 600px) { 
	#slide-type-about {
    width: 301px;
    height: 166.217px;
	}
}
@media screen and (max-width: 376px) { 
	#slide-type-about {
    width: 295px;
    height: 162.904px;
	}
}
@media screen and (max-width: 330px) { 
	#slide-type-about {
    width: 247px;
    height: 136.398px;
	}
}
@media screen and (max-device-width: 600px) { 
	#slide-type-about {
    width: 301px;
    height: 166.217px;
    background-image: url(../images/about/about-mobile.png);
	}
}
@media screen and (max-device-width: 376px) { 
	#slide-type-about {
    width: 295px;
    height: 162.904px;
    background-image: url(../images/about/about-mobile.png);
	}
}
@media screen and (max-device-width: 330px) { 
	#slide-type-about {
    width: 247px;
    height: 136.398px;
    background-image: url(../images/about/about-mobile.png);
	}
}

#slide-type-contact {
    width: 766px;
    height: 248px;
    background-image: url(../images/contact/contact-animation.png);
    -webkit-animation: titleOnceAnimation 2s steps(39, end) 0s 1;
    -moz-animation: titleOnceAnimation 2s steps(39, end) 0s 1;
    -ms-animation: titleOnceAnimation 2s steps(39, end) 0s 1;
    animation: titleOnceAnimation 2s steps(39, end) 0s 1;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
}
@media screen and (max-width: 1000px) { 
	#slide-type-contact {
    width: 470px;
    height: 152.815px;
	}
}
@media screen and (max-width: 600px) { 
	#slide-type-contact {
    width: 300px;
    height: 97.128px;
	}
}
@media screen and (max-width: 376px) { 
	#slide-type-contact {
    width: 303px;
    height: 98.099px;
	}
}
@media screen and (max-width: 330px) { 
	#slide-type-contact {
    width: 244px;
    height: 78.997px;
	}
}
@media screen and (max-device-width: 600px) { 
	#slide-type-contact {
    width: 300px;
    height: 97.128px;
    background-image: url(../images/contact/contact-mobile.png);
	}
}
@media screen and (max-device-width: 376px) { 
	#slide-type-contact {
    width: 303px;
    height: 98.099px;
    background-image: url(../images/contact/contact-mobile.png);
	}
}
@media screen and (max-device-width: 330px) { 
	#slide-type-contact {
    width: 244px;
    height: 78.997px;
    background-image: url(../images/contact/contact-mobile.png);
	}
}

#slide-type-careers{
	width: 863px;
	height: 112px;
	background-image: url(../images/careers/careers-animation.png);
    -webkit-animation: titleOnceAnimation 1.7s steps(31, end) 0s 1;
    -moz-animation: titleOnceAnimation 1.7s steps(31, end) 0s 1;
    -ms-animation: titleOnceAnimation 1.7s steps(31, end) 0s 1;
    animation: titleOnceAnimation 1.7s steps(31, end) 0s 1;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
}
@media screen and (max-width: 1000px) { 
	#slide-type-careers {
    width: 586px;
    height: 76.051px;
	}
}
@media screen and (max-width: 600px) { 
	#slide-type-careers {
    width: 301px;
    height: 39.064px;
	}
}
@media screen and (max-width: 376px) { 
	#slide-type-careers {
    width: 293px;
    height: 38.155px;
	}
}
@media screen and (max-width: 330px) { 
	#slide-type-careers {
    width: 254px;
    height: 32.964px;
	}
}
@media screen and (max-device-width: 600px) { 
	#slide-type-careers {
    width: 301px;
    height: 39.064px;
    background-image: url(../images/careers/careers-mobile.png);
	}
}
@media screen and (max-device-width: 376px) { 
	#slide-type-careers {
    width: 293px;
    height: 38.155px;
    background-image: url(../images/careers/careers-mobile.png);
	}
}
@media screen and (max-device-width: 330px) { 
	#slide-type-careers {
    width: 254px;
    height: 32.964px;
    background-image: url(../images/careers/careers-mobile.png);
	}
}

#slide-type-team{
	width: 811px;
	height: 248px;
	background-image: url(../images/team/team-animation.png);
    -webkit-animation: titleOnceAnimation 1.7s steps(47, end) 0s 1;
    -moz-animation: titleOnceAnimation 1.7s steps(47, end) 0s 1;
    -ms-animation: titleOnceAnimation 1.7s steps(47, end) 0s 1;
    animation: titleOnceAnimation 1.7s steps(47, end) 0s 1;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
}
@media screen and (max-width: 1000px) { 
	#slide-type-team {
    width: 470px;
    height: 143.724px;
	}
}
@media screen and (max-width: 600px) { 
	#slide-type-team {
    width: 297px;
    height: 90.821px;
	}
}
@media screen and (max-width: 376px) { 
	#slide-type-team {
    width: 300px;
    height: 91.739px;
	}
}
@media screen and (max-width: 330px) { 
	#slide-type-team {
    width: 245px;
    height: 74.92px;
	}
}
@media screen and (max-device-width: 600px) { 
	#slide-type-team {
    width: 300px;
    height: 91.739px;
    background-image: url(../images/team/team-mobile.png);
	}
}
@media screen and (max-device-width: 376px) { 
	#slide-type-team {
    width: 303px;
    height: 92.656px;
    background-image: url(../images/team/team-mobile.png);
	}
}
@media screen and (max-device-width: 330px) { 
	#slide-type-team {
    width: 244px;
    height: 74.614px;
    background-image: url(../images/team/team-mobile.png);
	}
}



/*-----404-----*/

#slide-type-error{
	width: 630px;
	height: 248px;
	background-image: url(../images/error-animation.png);
    -webkit-animation: titleOnceAnimation 1.7s steps(38, end) 0s 1;
    -moz-animation: titleOnceAnimation 1.7s steps(38, end) 0s 1;
    -ms-animation: titleOnceAnimation 1.7s steps(38, end) 0s 1;
    animation: titleOnceAnimation 1.7s steps(38, end) 0s 1;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
}

/*-----case studies-----*/

#slide-type-valentines{
	width: 855px;
	height: 248px;
	background-image: url(../images/valentines/valentines-animation.png);
    -webkit-animation: titleOnceAnimation 2s steps(43, end) 0s 1;
    -moz-animation: titleOnceAnimation 2s steps(43, end) 0s 1;
    -ms-animation: titleOnceAnimation 2s steps(43, end) 0s 1;
    animation: titleOnceAnimation 2s steps(43, end) 0s 1;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
}
@media screen and (max-width: 1000px) { 
	#slide-type-valentines {
    width: 470px;
    height: 136.327px;
	}
}
@media screen and (max-width: 600px) { 
	#slide-type-valentines {
    width: 300px;
    height: 87.018px;
	}
}
@media screen and (max-width: 376px) { 
	#slide-type-valentines {
    width: 303px;
    height: 87.888px;
	}
}
@media screen and (max-width: 330px) { 
	#slide-type-valentines {
    width: 244px;
    height: 70.774px;
	}
}
@media screen and (max-device-width: 600px) { 
	#slide-type-valentines {
    width: 300px;
    height: 87.018px;
    background-image: url(../images/valentines/valentines-mobile.png);
	}
}
@media screen and (max-device-width: 376px) { 
	#slide-type-valentines {
    width: 303px;
    height: 87.888px;
    background-image: url(../images/valentines/valentines-mobile.png);
	}
}
@media screen and (max-device-width: 330px) { 
	#slide-type-valentines {
    width: 244px;
    height: 70.774px;
    background-image: url(../images/valentines/valentines-mobile.png);
	}
}

#slide-type-elrey{
	width: 892px;
	height: 248px;
	background-image: url(../images/elrey/elrey-animation.png);
    -webkit-animation: titleOnceAnimation 2s steps(47, end) 0s 1;
    -moz-animation: titleOnceAnimation 2s steps(47, end) 0s 1;
    -ms-animation: titleOnceAnimation 2s steps(47, end) 0s 1;
    animation: titleOnceAnimation 2s steps(47, end) 0s 1;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
}
@media screen and (max-width: 1000px) { 
	#slide-type-elrey {
    width: 467px;
    height: 129.839px;
	}
}
@media screen and (max-width: 600px) { 
	#slide-type-elrey {
    width: 298px;
    height: 82.852px;
	}
}
@media screen and (max-width: 376px) { 
	#slide-type-elrey {
    width: 302px;
    height: 83.964px;
	}
}
@media screen and (max-width: 330px) { 
	#slide-type-elrey {
    width: 241px;
    height: 67.004px;
	}
}
@media screen and (max-device-width: 600px) { 
	#slide-type-elrey {
    width: 298px;
    height: 82.852px;
    background-image: url(../images/elrey/elrey-mobile.png);
	}
}
@media screen and (max-device-width: 376px) { 
	#slide-type-elrey {
    width: 302px;
    height: 83.964px;
    background-image: url(../images/elrey/elrey-mobile.png);
	}
}
@media screen and (max-device-width: 330px) { 
	#slide-type-elrey {
    width: 241px;
    height: 67.004px;
    background-image: url(../images/elrey/elrey-mobile.png);
	}
}

#slide-type-arcade{
	width: 689px;
	height: 248px;
	background-image: url(../images/arcade/arcade-animation.png);
    -webkit-animation: titleOnceAnimation 2s steps(22, end) 0s 1;
    -moz-animation: titleOnceAnimation 2s steps(22, end) 0s 1;
    -ms-animation: titleOnceAnimation 2s steps(22, end) 0s 1;
    animation: titleOnceAnimation 2s steps(22, end) 0s 1;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
}
@media screen and (max-width: 1000px) { 
	#slide-type-arcade {
    width: 472px;
    height: 169.893px;
	}
}
@media screen and (max-width: 600px) { 
	#slide-type-arcade {
    width: 297px;
    height: 106.903px;
	}
}
@media screen and (max-width: 376px) { 
	#slide-type-arcade {
    width: 305px;
    height: 109.782px;
	}
}
@media screen and (max-width: 330px) { 
	#slide-type-arcade {
    width: 241px;
    height: 86.746px;
	}
}
@media screen and (max-device-width: 600px) { 
	#slide-type-arcade {
    width: 297px;
    height: 106.903px;
    background-image: url(../images/arcade/arcade-mobile.png);
	}
}
@media screen and (max-device-width: 376px) { 
	#slide-type-arcade {
    width: 305px;
    height: 109.782px;
    background-image: url(../images/arcade/arcade-mobile.png);
	}
}
@media screen and (max-device-width: 330px) { 
	#slide-type-arcade {
    width: 241px;
    height: 86.746px;
    background-image: url(../images/arcade/arcade-mobile.png);
	}
}

#slide-type-calendario{
	width: 700px;
	height: 112px;
	background-image: url(../images/calendario/calendario-animation.png);
    -webkit-animation: titleOnceAnimation 2s steps(34, end) 0s 1;
    -moz-animation: titleOnceAnimation 2s steps(34, end) 0s 1;
    -ms-animation: titleOnceAnimation 2s steps(34, end) 0s 1;
    animation: titleOnceAnimation 2s steps(34, end) 0s 1;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
}
@media screen and (max-width: 1000px) { 
	#slide-type-calendario {
    width: 475px;
    height: 76px;
	}
}
@media screen and (max-width: 600px) { 
	#slide-type-calendario {
    width: 300px;
    height: 48px;
	}
}
@media screen and (max-width: 330px) { 
	#slide-type-calendario {
    width: 244px;
    height: 39.04px;
	}
}
@media screen and (max-device-width: 600px) { 
	#slide-type-calendario {
    width: 300px;
    height: 48px;
    background-image: url(../images/calendario/calendario-mobile.png);
	}
}
@media screen and (max-device-width: 330px) { 
	#slide-type-calendario {
    width: 244px;
    height: 39.04px;
    background-image: url(../images/calendario/calendario-mobile.png);
	}
}

#slide-type-montejo{
    width: 596px;
    height: 136px;
    margin-top: -30px;
	background-image: url(../images/montejo/montejo-animation.png);
    -webkit-animation: titleOnceAnimation 1.5s steps(25, end) 0s 1;
    -moz-animation: titleOnceAnimation 1.5s steps(25, end) 0s 1;
    -ms-animation: titleOnceAnimation 1.5s steps(25, end) 0s 1;
    animation: titleOnceAnimation 1.5s steps(25, end) 0s 1;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
}
@media screen and (max-width: 1000px) { 
	#slide-type-montejo {
    width: 472px;
    height: 107.705px;
	}
}
@media screen and (max-width: 600px) { 
	#slide-type-montejo {
    width: 301px;
    height: 68.685px;
	}
}
@media screen and (max-width: 376px) { 
	#slide-type-montejo {
    width: 306px;
    height: 69.826px;
	}
}
@media screen and (max-width: 330px) { 
	#slide-type-montejo {
    width: 240px;
    height: 54.765px;
	}
}
@media screen and (max-device-width: 600px) { 
	#slide-type-montejo {
    width: 301px;
    height: 68.685px;
    background-image: url(../images/montejo/montejo-mobile.png);
	}
}
@media screen and (max-device-width: 376px) { 
	#slide-type-montejo {
    width: 306px;
    height: 69.826px;
    background-image: url(../images/montejo/montejo-mobile.png);
	}
}
@media screen and (max-device-width: 330px) { 
	#slide-type-montejo {
    width: 240px;
    height: 54.765px;
    background-image: url(../images/montejo/montejo-mobile.png);
	}
}

#slide-type-phocrastinate{
	width: 1009px;
	height: 248px;
	background-image: url(../images/phocrastinate/phocrastinate-animation.png);
    -webkit-animation: titleOnceAnimation 2s steps(47, end) 0s 1;
    -moz-animation: titleOnceAnimation 2s steps(47, end) 0s 1;
    -ms-animation: titleOnceAnimation 2s steps(47, end) 0s 1;
    animation: titleOnceAnimation 2s steps(47, end) 0s 1;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
}
@media screen and (max-width: 1000px) { 
	#slide-type-phocrastinate {
    width: 472px;
    height: 116.012px;
	}
}
@media screen and (max-width: 600px) { 
	#slide-type-phocrastinate {
    width: 297px;
    height: 72.999px;
	}
}
@media screen and (max-width: 376px) { 
	#slide-type-phocrastinate {
    width: 301px;
    height: 73.982px;
	}
}
@media screen and (max-width: 330px) { 
	#slide-type-phocrastinate {
    width: 240px;
    height: 58.989px;
	}
}
@media screen and (max-device-width: 600px) { 
	#slide-type-phocrastinate {
    width: 297px;
    height: 72.999px;
    background-image: url(../images/phocrastinate/phocrastinate-mobile.png);
	}
}
@media screen and (max-device-width: 376px) { 
	#slide-type-phocrastinate {
    width: 301px;
    height: 73.982px;
    background-image: url(../images/phocrastinate/phocrastinate-mobile.png);
	}
}
@media screen and (max-device-width: 330px) { 
	#slide-type-phocrastinate {
    width: 240px;
    height: 58.989px;
    background-image: url(../images/phocrastinate/phocrastinate-mobile.png);
	}
}



@-webkit-keyframes titleOnceAnimation {
	0% {
		opacity: 1; 
		background-position: 0% 0%;
	}


	100% {
		opacity: 1; 
		background-position: 100% 0%;
	}
}
@-moz-keyframes titleOnceAnimation {
	0% {
		opacity: 1; 
		background-position: 0% 0%;
	}


	100% {
		opacity: 1; 
		background-position: 100% 0%;
	}
}
@-ms-keyframes titleOnceAnimation {
	0% {
		opacity: 1; 
		background-position: 0% 0%;
	}


	100% {
		opacity: 1; 
		background-position: 100% 0%;
	}
}
@keyframes titleOnceAnimation {
	0% {
		opacity: 1; 
		background-position: 0% 0%;
	}


	100% {
		opacity: 1; 
		background-position: 100% 0%;
	}
}



@-webkit-keyframes slideAnimation { 
	0% {
	    opacity: 1;
	    width: 100%;
	    z-index: 1;
	}
	16% {
	    opacity: 1;
	    width: 100%;
	    z-index: 2;
	}
	33% {
	    opacity: 1;
	    width: 100%;
	    z-index: 2;
	}
	37% {
		opacity: 1;
		width: 0%;
		z-index: 2;
	}
	39% {
		opacity: 0;
		width: 0%;

	}
	44% {
	    opacity: 0;
	    width: 100%;
	    z-index: 2;
	}
	100% { 
		opacity: 0;
		z-index: 1;
	}
}
@-moz-keyframes slideAnimation { 
	0% {
	    opacity: 1;
	    width: 100%;
	    z-index: 1;
	}
	16% {
	    opacity: 1;
	    width: 100%;
	    z-index: 2;
	}
	33% {
	    opacity: 1;
	    width: 100%;
	    z-index: 2;
	}
	37% {
		opacity: 1;
		width: 0%;
		z-index: 2;
	}
	39% {
		opacity: 0;
		width: 0%;

	}
	44% {
	    opacity: 0;
	    width: 100%;
	    z-index: 2;
	}
	100% { 
		opacity: 0;
		z-index: 1;
	}
}
@-ms-keyframes slideAnimation { 
	0% {
	    opacity: 1;
	    width: 100%;
	    z-index: 1;
	}
	16% {
	    opacity: 1;
	    width: 100%;
	    z-index: 2;
	}
	33% {
	    opacity: 1;
	    width: 100%;
	    z-index: 2;
	}
	37% {
		opacity: 1;
		width: 0%;
		z-index: 2;
	}
	39% {
		opacity: 0;
		width: 0%;

	}
	44% {
	    opacity: 0;
	    width: 100%;
	    z-index: 2;
	}
	100% { 
		opacity: 0;
		z-index: 1;
	}
}
@keyframes slideAnimation { 
	0% {
	    opacity: 1;
	    width: 100%;
	    z-index: 1;
	}
	16% {
	    opacity: 1;
	    width: 100%;
	    z-index: 2;
	}
	33% {
	    opacity: 1;
	    width: 100%;
	    z-index: 2;
	}
	37% {
		opacity: 1;
		width: 0%;
		z-index: 2;
	}
	39% {
		opacity: 0;
		width: 0%;

	}
	44% {
	    opacity: 0;
	    width: 100%;
	    z-index: 2;
	}
	100% { 
		opacity: 0;
		z-index: 1;
	}
}



@-webkit-keyframes slideAnimation { 
	0% {
	    opacity: 1;
	    width: 100%;
	    z-index: 1;
	}
	16% {
	    opacity: 1;
	    width: 100%;
	    z-index: 2;
	}
	33% {
	    opacity: 1;
	    width: 100%;
	    z-index: 2;
	}
	37% {
		opacity: 1;
		width: 0%;
		z-index: 2;
	}
	39% {
		opacity: 0;
		width: 0%;

	}
	44% {
	    opacity: 0;
	    width: 100%;
	    z-index: 2;
	}
	100% { 
		opacity: 0;
		z-index: 1;
	}
}
@-moz-keyframes slideAnimation { 
	0% {
	    opacity: 1;
	    width: 100%;
	    z-index: 1;
	}
	16% {
	    opacity: 1;
	    width: 100%;
	    z-index: 2;
	}
	33% {
	    opacity: 1;
	    width: 100%;
	    z-index: 2;
	}
	37% {
		opacity: 1;
		width: 0%;
		z-index: 2;
	}
	39% {
		opacity: 0;
		width: 0%;

	}
	44% {
	    opacity: 0;
	    width: 100%;
	    z-index: 2;
	}
	100% { 
		opacity: 0;
		z-index: 1;
	}
}
@-ms-keyframes slideAnimation { 
	0% {
	    opacity: 1;
	    width: 100%;
	    z-index: 1;
	}
	16% {
	    opacity: 1;
	    width: 100%;
	    z-index: 2;
	}
	33% {
	    opacity: 1;
	    width: 100%;
	    z-index: 2;
	}
	37% {
		opacity: 1;
		width: 0%;
		z-index: 2;
	}
	39% {
		opacity: 0;
		width: 0%;

	}
	44% {
	    opacity: 0;
	    width: 100%;
	    z-index: 2;
	}
	100% { 
		opacity: 0;
		z-index: 1;
	}
}
@keyframes slideAnimation { 
	0% {
	    opacity: 1;
	    width: 100%;
	    z-index: 1;
	}
	16% {
	    opacity: 1;
	    width: 100%;
	    z-index: 2;
	}
	33% {
	    opacity: 1;
	    width: 100%;
	    z-index: 2;
	}
	37% {
		opacity: 1;
		width: 0%;
		z-index: 2;
	}
	39% {
		opacity: 0;
		width: 0%;

	}
	44% {
	    opacity: 0;
	    width: 100%;
	    z-index: 2;
	}
	100% { 
		opacity: 0;
		z-index: 1;
	}
}



@-webkit-keyframes titleAnimation { 
	0% {
		opacity: 0; 
		background-position: 0%;
	}
	4% {
		opacity: 0; 
		background-position: 0%;
	}
	5% {
		opacity: 1; 
	
	}
	20% { background-position: 100%; }
	100% {
		opacity: 1; 
		background-position: 100%;
	}
}
@-moz-keyframes titleAnimation { 
	0% {
		opacity: 0; 
		background-position: 0%;
	}
	4% {
		opacity: 0; 
		background-position: 0%;
	}
	5% {
		opacity: 1; 
	
	}
	20% { background-position: 100%; }
	100% {
		opacity: 1; 
		background-position: 100%;
	}
}
@-ms-keyframes titleAnimation { 
	0% {
		opacity: 0; 
		background-position: 0%;
	}
	4% {
		opacity: 0; 
		background-position: 0%;
	}
	5% {
		opacity: 1; 
	
	}
	20% { background-position: 100%; }
	100% {
		opacity: 1; 
		background-position: 100%;
	}
}
@keyframes titleAnimation { 
	0% {
		opacity: 0; 
		background-position: 0%;
	}
	4% {
		opacity: 0; 
		background-position: 0%;
	}
	5% {
		opacity: 1; 
	
	}
	20% { background-position: 100%; }
	100% {
		opacity: 1; 
		background-position: 100%;
	}
}



@-webkit-keyframes titleAnimationMobile { 
	0% {
		opacity: 0; 
		background-position: -7750px
	}
	4% {
		opacity: 0; 
		background-position: -7750px
	}
	5% {
		opacity: 1; 
	
	}
	20% { background-position: 0px; }
	100% {
		opacity: 1; 
		background-position: 0px;
	}
}
@-moz-keyframes titleAnimationMobile { 
	0% {
		opacity: 0; 
		background-position: -7750px
	}
	4% {
		opacity: 0; 
		background-position: -7750px
	}
	5% {
		opacity: 1; 
	
	}
	20% { background-position: 0px; }
	100% {
		opacity: 1; 
		background-position: 0px;
	}
}
@-ms-keyframes titleAnimationMobile { 
	0% {
		opacity: 0; 
		background-position: -7750px
	}
	4% {
		opacity: 0; 
		background-position: -7750px
	}
	5% {
		opacity: 1; 
	
	}
	20% { background-position: 0px; }
	100% {
		opacity: 1; 
		background-position: 0px;
	}
}
@keyframes titleAnimationMobile { 
	0% {
		opacity: 0; 
		background-position: -7750px
	}
	4% {
		opacity: 0; 
		background-position: -7750px
	}
	5% {
		opacity: 1; 
	
	}
	20% { background-position: 0px; }
	100% {
		opacity: 1; 
		background-position: 0px;
	}
}



@-webkit-keyframes clientAnimation {
	0% {
		opacity: 0;
		-webkit-transform: translate(100px, 0px)
		transform: translate(100px, 0px)
	}
	8% {
		opacity: 0;
		-webkit-transform: translate(100px, 0px)
		transform: translate(100px, 0px)
	}
	18% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px) 
		transform: translate(0px, 0px)
	
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px)
		transform: translate(0px, 0px)
	}
}
@-moz-keyframes clientAnimation {
	0% {
		opacity: 0;
		-webkit-transform: translate(100px, 0px)
		transform: translate(100px, 0px)
	}
	8% {
		opacity: 0;
		-webkit-transform: translate(100px, 0px)
		transform: translate(100px, 0px)
	}
	18% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px) 
		transform: translate(0px, 0px)
	
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px)
		transform: translate(0px, 0px)
	}
}
@-ms-keyframes clientAnimation {
	0% {
		opacity: 0;
		-webkit-transform: translate(100px, 0px)
		transform: translate(100px, 0px)
	}
	8% {
		opacity: 0;
		-webkit-transform: translate(100px, 0px)
		transform: translate(100px, 0px)
	}
	18% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px) 
		transform: translate(0px, 0px)
	
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px)
		transform: translate(0px, 0px)
	}
}
@keyframes clientAnimation {
	0% {
		opacity: 0;
		-webkit-transform: translate(100px, 0px)
		transform: translate(100px, 0px)
	}
	8% {
		opacity: 0;
		-webkit-transform: translate(100px, 0px)
		transform: translate(100px, 0px)
	}
	18% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px) 
		transform: translate(0px, 0px)
	
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px)
		transform: translate(0px, 0px)
	}
}



@-webkit-keyframes slide-buttonAnimation {
	0% {
		opacity: 0;
		-webkit-transform: translate(0px, 50px) 
		transform: translate(0px, 50px)
	}
	18% {
		opacity: 0;
		-webkit-transform: translate(0px, 50px)
		transform: translate(0px, 50px)
	}
	25% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px)
		transform: translate(0px, 0px)
	
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px)
		transform: translate(0px, 0px)
	}
}
@-moz-keyframes slide-buttonAnimation {
	0% {
		opacity: 0;
		-webkit-transform: translate(0px, 50px) 
		transform: translate(0px, 50px)
	}
	18% {
		opacity: 0;
		-webkit-transform: translate(0px, 50px)
		transform: translate(0px, 50px)
	}
	25% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px)
		transform: translate(0px, 0px)
	
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px)
		transform: translate(0px, 0px)
	}
}
@-ms-keyframes slide-buttonAnimation {
	0% {
		opacity: 0;
		-webkit-transform: translate(0px, 50px) 
		transform: translate(0px, 50px)
	}
	18% {
		opacity: 0;
		-webkit-transform: translate(0px, 50px)
		transform: translate(0px, 50px)
	}
	25% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px)
		transform: translate(0px, 0px)
	
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px)
		transform: translate(0px, 0px)
	}
}
@keyframes slide-buttonAnimation {
	0% {
		opacity: 0;
		-webkit-transform: translate(0px, 50px) 
		transform: translate(0px, 50px)
	}
	18% {
		opacity: 0;
		-webkit-transform: translate(0px, 50px)
		transform: translate(0px, 50px)
	}
	25% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px)
		transform: translate(0px, 0px)
	
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0px, 0px)
		transform: translate(0px, 0px)
	}
}
/* Show at least something when animations not supported */
.no-cssanimations #slides li span{
	opacity: 1;
}
@media screen and (max-width: 1140px) { 
	#home-slides li div h3 { font-size: 100px }
}
@media screen and (max-width: 600px) { 
	#home-slides li div h3 { font-size: 50px }
}












.animate-once{
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}