body{
	font-family: helvetica, sans-serif;
}


#bg-video-container {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
#bg-video {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
}
/* Music styles
* --------------------------------------- */
.hidden{
    display: none;
}
.mute-play{
    -webkit-animation: bounceIn 5s 1; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: bounceIn 5s 1; /* Firefox < 16 */
        -ms-animation: bounceIn 5s 1; /* Internet Explorer */
         -o-animation: bounceIn 5s 1; /* Opera < 12.1 */
            animation: bounceIn 5s 1;
}


#mute{
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    opacity: .3;
    transition: opacity .1s;
}
#mute:hover{
    opacity: 1;
}
    

input#un-mute {
    display: none;
}

.unmute img {
    display: none;
}

input#un-mute:checked ~ .unmute img {
    display: initial;
}

input#un-mute:checked ~ .mute img {
    display: none;
}




/* Style for our header texts
* --------------------------------------- */
h1{
    font-size: 7em;
    text-transform: uppercase;
    font-style: italic;
    color: #fff;
    margin: 0;
}
@media screen and (max-width: 1400px){
    h1{
        font-size: 6em;
    }
}
@media screen and (max-width: 1280px){
    h1{
        font-size: 5em;
    }
}
@media screen and (max-width: 1080px){
    h1{
        font-size: 4em;
    }
}
@media screen and (max-width: 960px){
    h1{
        font-size: 3em;
    }
}
@media screen and (max-width: 600px){
    h1{
        font-size: 2.5em;
    }
}
@media screen and (max-width: 480px){
    h1{
        font-size: 2em;
    }
}


.intro{
	-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

.intro p{
	color: #fff;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
	text-align:center;
}





@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }




@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}


