body{
	font-family: helvetica, sans-serif;
}
*{
    list-style: none;
    color: #fff;
}

ul{
    padding: 0px;
}

@media screen and (max-width: 720px){
    .mobile-hide{
        display: none;
    }
}


#bakery-eye{
    margin-bottom: 25px;
    position: relative;
}
#bakery-eye-rays-container{
    visibility: none;
}
#bakery-eye-rays{
    width: 104px;
    height: 78px;
    margin: auto;
    transform: translate(0px,10px);
    background-image: url(../imgs/pie-of-providence-top.png);
}







.break{
    margin-bottom: 50px; 
}

#intro-copy{
    width: 90%;
    max-width: 720px;
    margin: auto;
}
#intro-copy h1{
    font-size: 3em;
}
#intro-copy p, li{
    font-size: 1.2em;
}

.inline{
    display: inline-block;
}



#bg-video-container {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
#bg-video {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
}
/* Music styles
* --------------------------------------- */
.hidden{
    display: none;
}
.mute-play{
    -webkit-animation: bounceIn 5s 1; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: bounceIn 5s 1; /* Firefox < 16 */
        -ms-animation: bounceIn 5s 1; /* Internet Explorer */
         -o-animation: bounceIn 5s 1; /* Opera < 12.1 */
            animation: bounceIn 5s 1;
}


#mute{
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    opacity: .3;
    transition: opacity .1s;
}
#mute:hover{
    opacity: 1;
}
    

input#un-mute {
    display: none;
}

.unmute img {
    display: none;
}

input#un-mute:checked ~ .unmute img {
    display: initial;
}

input#un-mute:checked ~ .mute img {
    display: none;
}




/* Style for our header texts
* --------------------------------------- */
h1, h2{
    font-size: 7em;
    text-transform: uppercase;
    font-style: italic;
    color: #fff;
    margin: 0;
}
@media screen and (max-width: 1400px){
    h1{
        font-size: 6em;
    }
}
@media screen and (max-width: 1280px){
    h1{
        font-size: 5em;
    }
}
@media screen and (max-width: 1080px){
    h1{
        font-size: 4.5em;
    }
}
@media screen and (max-width: 960px){
    h1{
        font-size: 3.5em;
    }
}
@media screen and (max-width: 600px){
    h1{
        font-size: 3em;
    }
}
@media screen and (max-width: 480px){
    h1{
        font-size: 2em;
    }
}
h2{
    display: block;
    font-size: 2em;
    margin-top: 10px;
}
.dash:after{
    font-size: 45px;
    display: block;
    width: 100%;
    bottom: 0px;
    margin:auto;
    content:"—";
}


.intro{
	-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

.intro p{
	color: #fff;
    line-height: 165%;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
	text-align:center;
}


.intro:after{
    content:"↓";
    font-size: 45px;
    display: block;
    width: 100%;
    bottom: 0px;
    margin:auto;
}


/* forms
* --------------------------------------- */






form {
    width: 90%;
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.ss-form-question {
    width: 100%;
}

.ss-form-entry {
    margin-bottom: 10px;
}
.ss-q-short {
    background: none;
    padding: 12px 20px;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 10px;
    width: 100%;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: border .3s;
    box-sizing: border-box;
}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: /*your box-shadow*/,0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
} 
.ss-q-short:focus, .ss-q-short:hover{
    border-color: rgba(255,255,255,.6);
}






input[type="checkbox"], input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    color: #fff;
    width: 13px;
    height: 13px;
    background: none;
    margin: 0px 5px 0px 0px;
    border: 2px solid rgba(255,255,255,.2);
    outline: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    box-sizing: content-box \9;
    width: 16px \9;
    height: 16px \9;
    border-width: 0 \9;
}
span.ss-choice-label {
    color: #fff;
}

#checkbox{
    text-align: left;
    padding: 0px;
}

input[type="checkbox"]:hover{
    border-color: rgba(255,255,255,.6);
}
input[type="checkbox"]:checked{
    background: rgba(255,255,255,1);
    border-color: rgba(255,255,255, 0)
}


/*Submit*/

#submit{
    position: absolute;
    bottom: 0px;
    right: 0px;
}


input[type="submit"]{
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"]{
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* Demo */
input[type="submit"]{
    background: none;
    padding: 12px 20px;
    border: 2px solid rgba(255,255,255,1);
    border-radius: 10px;
    width: 100%;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: background .3s;
    box-sizing: border-box;
}

input[type="submit"]:hover{
    background: rgba(255,255,255,.2);
}

input[type="submit"]:active{
    background: rgba(255,255,255,.5);
}








